 
      {{#each houses}}
      <a href="/crib/{{this._id}}">
      <div class="house list">
        <div class="headline">
          {{this.headline}}
          {{this._id}}
        </div>

        <div class="description">
          {{this.description}}
        </div>
        <div class="city">
          {{this.location.city}}
        </div>
      </div>
      </a>
    
        
      {{/each}}
    


  